<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">
    <!--게시글 쓰기-->
    <th:block th:if="${boardNo == null}">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">게시글 쓰기</h3></div>
                        <div class="card-body">
                            <form name="regFrm" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="userId" name="userId" th:value="${session.id}">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="title" name="title" type="text" placeholder="제목을 입력해라." />
                                            <label for="title">제목</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control h-25" rows="10" id="content" name="content"></textarea>
                                    <label for="content">내용</label>
                                    <input type="file" name="files" id="files" multiple="multiple">
                                </div>
                                    <button type="submit" class="btn btn-success">등록</button>
                                    <a th:href="@{/}" class="btn btn-info">목록</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </th:block>

    <!--게시글 수정-->
    <th:block th:unless="${boardNo == null}">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">게시글 수정</h3></div>
                        <div class="card-body">
                            <form name="updateFrm" action="/mod" method="post">
                                <input type="hidden" name="boardNo" id="boardNo" th:value="${boardNo}">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="title" name="title" type="text" placeholder="제목을 입력해라." th:value="${info?.title}"/>
                                            <label for="title">제목</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control h-25" rows="10" id="content" name="content" th:text="${info?.content}"></textarea>
                                    <label for="content">내용</label>
                                </div>
    
                                <!--이미지 미리보기-->
                                <div th:each="file : ${files} ">
                                    <a th:href="|/download/${file.fileNo}|" th:title="${file.fileOrgName}">
<!--                                        <img th:src="|/images/${file.fileNo}|" width="150" height="150">-->
                                        <img th:src="|/images/${file.fileNo}|" height="150">
                                        <p th:text="${file.fileOrgName}"></p>
                                    </a>
                                </div>
                                <button type="submit" class="btn btn-success">수정</button>
                                <a th:href="@{/}" class="btn btn-info">목록</a>
                            </form>
                        </div>

                        <!-- 댓글 시작 -->
                        <section class="mb-5">
                            <th:block th:if="${session.id != null}">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <!-- Comment form-->
                                    <form id="replyFrm" class="mb-4" method="post">
                                        <input type="hidden" name="boardNo" id="boardNo" th:value="${boardNo}">
                                        <input type="hidden" name="userId" id="userId" th:value="${session.id}">
                                        <textarea class="form-control" id="replyContent" name="replyContent" rows="3" placeholder="댓글을 작성 해주세요."></textarea>
                                        <button type="button" id="replySave" class="btn btn-dark">저장</button>
                                    <!-- Comment with nested comments-->
                                    <div class="d-flex mb-4" th:each="list : ${replyList}">
                                        <!-- Parent comment-->
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold" th:text="${list.userId}"></div>
                                            <th:block th:if="${session.id == list.userId}">
                                                <input type="text" name="replyContent" th:value="${list.replyContent}" />
                                                <input type="hidden" name="replyNo" th:value="${list.replyNo}">
                                            <button type="button" id="replyUpdate" class="btn btn-info">수정</button>
                                            </th:block>
                                            <th:block th:unless="${session.id == list.userId}">
                                                <input type="text" th:value="${list.replyContent}" readonly/>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </th:block>
                           </form>
                        </section>
                        <!-- 댓글 종료 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </th:block>

</div>

<script layout:fragment="script" th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        const boardNo = $("#boardNo").val();
            //댓글 저장
            $("#replySave").on("click", function () {
                // const boardNo = $("#boardNo").val();
                $.ajax({
                url : '/reply/reg/' + boardNo,
                type : 'post',
                dataType : 'json',
                data : $("#replyFrm").serialize(),
                ansync: false,
                success: function (replyNo) {
                    alert(replyNo +  "번 댓글이 저장되었습니다.");
                    $("#content").val('');
                    location.reload();
                },
                error: function (request, status, error) {
                    console.log(error);
                }
            });
        });

        //댓글 수정
        $("#replyUpdate").on("click", function () {

              $.ajax({
                url : '/reply/modify/' + boardNo,
                type : 'post',
                dataType : 'json',
                data : $("#replyFrm").serialize(),
                ansync: false,
                success: function (replyNo) {
                    alert(replyNo +  "번 댓글이 수정되었습니다.");
                    $("#content").val('');
                    location.reload();
                },
                error: function (request, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</html>