<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.thboard2.mapper.BoardMapper">

<!-- 검색 parameter값 -->
<sql id="appendParam">
    <!-- 제목 -->
    <if test=" == ''.toString()">
        AND  LIKE '%' || #{} || '%'
    </if>
    <!-- 내용 -->
    <if test=" == ''.toString()">
        AND  LIKE '%' || #{} || '%'
    </if>
    <!-- 작성자 -->
    <if test="type == ''.toString()">
        AND  LIKE '%' || #{} || '%'
    </if>
</sql>

    <!--게시글 목록 조회-->
    <select id="" parameterType="" resultType="">
        /* 게시글 목록 조회 */
        SELECT
	         ,
	         ,
	         ,
	         ,
	         ,
	         ,
	      FROM
              (SELECT /*+ */

                     ,
                     ,
                     ,
                     ,
                     ,
                     ,
                     ,
                  FROM
                 WHERE 1=1
                   AND
                   <include refid="appendParam"/>
                   AND
              )T1
         WHERE
    </select>

    <!--게시글 전체 카운트-->
    <select id="" parameterType="" resultType="">
        SELECT COUNT(*)
          FROM
         WHERE 1=1

    </select>

    <!--게시글 작성-->
    <insert id="" parameterType="">
        <selectKey keyProperty="" resultType="" order="">

        </selectKey>
        /* 게시글 작성 */
        INSERT INTO
            (

              ,
              ,
              ,
              ,
            )
        VALUES
            (

              ,
              ,
              ,
              ,
            )
    </insert>

    <!--게시글 상세-->
    <select id="" parameterType="" resultType="">
        /* 게시글 상세 조회 */
        SELECT
             ,
             ,
             ,
             ,
             ,
          FROM
         WHERE 1=1
           AND
    </select>

    <!--게시글 수정-->
    <update id="" parameterType="">
        /* 게시글 수정 */
        UPDATE BOARD
           SET
             ,
             ,
         WHERE
    </update>

    <!--게시글 삭제-->
    <update id="" parameterType="">
        /* 게시글 삭제 */
        UPDATE
           SET
             ,
         WHERE
    </update>

</mapper>