<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.thboard2.mapper.BoardMapper">

<!-- 검색 parameter값 -->
<!--<sql id="appendParam">-->
<!--    &lt;!&ndash; 제목 &ndash;&gt;-->
<!--    <if test=" == ''.toString()">-->
<!--        AND  LIKE '%' || #{} || '%'-->
<!--    </if>-->
<!--    &lt;!&ndash; 내용 &ndash;&gt;-->
<!--    <if test=" == ''.toString()">-->
<!--        AND  LIKE '%' || #{} || '%'-->
<!--    </if>-->
<!--    &lt;!&ndash; 작성자 &ndash;&gt;-->
<!--    <if test="type == ''.toString()">-->
<!--        AND  LIKE '%' || #{} || '%'-->
<!--    </if>-->
<!--</sql>-->

    <!--게시글 목록 조회-->
    <select id="selectBoardList" parameterType="map" resultType="BoardVo">
        /* 게시글 목록 조회 */
        SELECT T1.BOARD_NO AS boardNo
	         , T1.TITLE AS title
	         , T1.CONTENT AS content
	         , T1.WRITER AS writer
	         , T1.USE_YN AS useYn
	         , T1.REG_DATE AS regDate
	         , T1.MOD_DATE AS modDate
	      FROM
               ( SELECT BOARD_NO
                      , TITLE
                      , CONTENT
                      , WRITER
                      , USE_YN
                      , REG_DATE
                      , MOD_DATE
                   FROM BOARD_INFO
                  WHERE 1=1
                    AND USE_YN = 'Y'
<!--                   <include refid="appendParam"/>-->
                                    ) T1
    </select>

    <!--게시글 전체 카운트-->
    <select id="selectBoardCnt" parameterType="map" resultType="int">
        SELECT COUNT(*)
          FROM BOARD_INFO
    </select>

    <!--게시글 작성-->
    <insert id="insertBoard" parameterType="BoardVo">
        <selectKey keyProperty="boardNo" resultType="INTEGER" order="BEFORE">
            SELECT BOARD_NO_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        /* 게시글 작성 */
        INSERT INTO BOARD_INFO
            (
                BOARD_NO
              , TITLE
              , CONTENT
              , WRITER
            )
        VALUES
            (
                #{boardNo}
              , #{title}
              , #{content}
              , #{writer}
            )
    </insert>

    <!--게시글 상세-->
    <select id="selectBoardDetail" parameterType="map" resultType="BoardVo">
        /* 게시글 상세 조회 */
        SELECT BOARD_NO
             , TITLE
             , CONTENT
             , WRITER
             , USE_YN
             , REG_DATE
             , MOD_DATE
          FROM BOARD_INFO
         WHERE 1=1
           AND BOARD_NO = #{boardNo}
    </select>

        <!--게시글 수정-->
    <update id="updateBoard" parameterType="BoardVo">
        /* 게시글 수정 */
        UPDATE BOARD_INFO
           SET TITLE = #{title}
             , CONTENT = #{content}
             , MOD_DATE = SYSDATE
         WHERE BOARD_NO = #{boardNo}
    </update>

    <!--게시글 삭제-->
    <update id="deleteBoard" parameterType="map">
        /* 게시글 삭제 */
        UPDATE BOARD_INFO
           SET USE_YN = 'N'
         WHERE BOARD_NO = #{boardNo}
    </update>

</mapper>